@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: #EAEAEA;
}

main {
  padding: 80px 0px 80px 0px;
}

.app-container {
  min-height: 100vh;
}

footer {
  margin-left: auto;
  margin-right: auto;
  padding: 1px 0px 1px 0px;
}

hr {
  background-color: #3C4048;
  height: 2px;
  border: none;
}

/* Navbar */

.navbar {
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
}

.navbar .nav-item {
  margin: auto 4px;
}

.navbar a {
  padding-left: 12px;
  padding-right: 12px;
}

.navbar-brand {
  color: #454545
}

/* Home Page */

.home_header {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.header_card {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.home_example {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.search_bar {
  justify-content: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.weather_card {
  justify-content: center;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.weather_icon {
  color: #8D8DAA;
}

.time {
  opacity: 0.5;
}

.status {
  justify-content: center;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.9) !important;
  color: rgba(33, 37, 41, 1);
}

.header_forecast {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.hourly-card {
  border-radius: 10px;
  transition: ease-out .15s;
}

.hourly-card:hover {
  cursor: pointer;
  box-shadow: 0 0 16px 5px rgba(51, 51, 51, 0.1);
}

.hourly-card .font-weight-light {
  margin-top: 1rem;
}

/* Guide Page*/

.header_card_guide {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-color: 1px #8D8DAA;

  padding: 5px;
  border-radius: 10px;
}

.card_desc {
  background-color: #e0e0e0;
  padding: 5px;
}

.title {
  margin-left: 10%;
  margin-right: 10%;
}

.w-symbol {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
}

.column-display {
  display: inline-block;
  width: auto;
  padding: 5px;
}

.container-display {
  margin: auto;
  text-align: center;
}


/* API Page */

.api_page {
  color: #3C4048;
}

.api_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.api_text {
  max-width: 1000px;
  margin: auto;
  text-align: justify;
}

.list_group_api {
  max-width: 1100px;
  margin: auto;
  text-align: justify;
}

/* About Us Page */

.about_us {
  color: #3C4048;
}

.container_about_us {
  margin-bottom: 80px;
}

.about_us_text {
  max-width: 1100px;
  margin: auto;
  text-align: justify;
}

.profile {
  justify-content: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.feature {
  max-width: 1100px;
  margin: auto;
}

.dev_title {
  margin-top: 80px;
}

.image_profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.media_icon {
  padding-top: 10px;
}